body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}
  
html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_copy {
    flex: 4;   
}

.app_logo {
    /* flex: 1; */
}

.app_copy h1 {
    margin: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 265px;
    overflow: hidden;
}

.app_copy h6 {
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    padding-top: 8px;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.icon_container {
    border: solid 2px #2196f3;
    display: block;
    padding: 5px;
    border-radius: 50%;
    background: #2196f370;
}

.app-logo {
    height: 30px;
    width: 32px;
    margin: 3px;
    padding: 4px;
    position: relative;
    left: -1px;
    top: 2px;
}

.loading-container {}

.loading-container > img {
    width: 100%;
    max-width: 40px;
}

@media (prefers-reduced-motion: no-preference) {
    .loading-container > img {
        animation: App-logo-spin infinite 1.5s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Main {
    display: flex;
    width: 100%;
}

.qol-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.qol-icon-container {
    display: flex;
    flex-direction: column;
}

.qol-icon {
    width: 100%;
    max-width: 39px;
}

.qol-copy {
    text-align: center;
    color: #9f9f9f;
    padding-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}